body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#main-photo {
    max-width: 100%;
    display: flex;
    margin: 0 auto;
}

#description {
    padding: 20px;
    font-family: sans-serif, serif;
}

#title {
    font-family: 'Cinzel', sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 40px auto;
}

#explanation {
    margin: 40px auto;
    line-height: 1.5;
}

.copyrigth {
    text-align: center;
}

#date {
    text-align: center;
}

#video {
    display: none;
}

iframe {
    border: none;
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
    aspect-ratio: 16/9;
}
